<h1>Welcome</h1>

<div class="jumbotron">

    <h1><span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Borrachos!!!<span class="glyphicon glyphicon-glass" aria-hidden="true"></span></h1>
    <p>Registrate y dinos si tuviste una borrachera en las ultimas semanas! :)</p>
    <p><a class="btn btn-success btn-lg btn-block" href="/CrearUsuario" role="button">Registrar Usuarios</a></p>
</div>